<manifest xmlns:android="http://schemas.android.com/apk/res/android">
 <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
 <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="28" />
 <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
 <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PROJECTION" />
 <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
 <application android:icon="@drawable/ic_app_icon" android:theme="@style/AppTheme" android:label="لقطة سريعة" android:allowBackup="false" android:supportsRtl="true">
  <activity android:name=".MainActivity" android:exported="true"><intent-filter><action android:name="android.intent.action.MAIN"/><category android:name="android.intent.category.LAUNCHER"/></intent-filter></activity>
  <activity android:name=".CaptureActivity" android:exported="false" android:theme="@style/CaptureTheme" android:excludeFromRecents="true" android:taskAffinity="" />
  <service android:name=".ScreenshotService" android:exported="false" android:foregroundServiceType="mediaProjection" />
  <service android:name=".QuickShotTileService" android:icon="@drawable/ic_camera" android:label="لقطة شاشة" android:permission="android.permission.BIND_QUICK_SETTINGS_TILE" android:exported="true"><intent-filter><action android:name="android.service.quicksettings.action.QS_TILE" /></intent-filter></service>
 </application>
</manifest>
